In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
car=pd.read_csv("Car_Purchasing_Data.csv",encoding="ISO-8859-1")

In [3]:
car.head(3)

,Customer Name,Customer e-mail,Country,Gender,Age,Annual Salary,Credit Card Debt,Net Worth,Car Purchase Amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921

In [4]:
car.shape

(500, 9)

In [5]:
car.isnull().sum()

Customer Name          0
Customer e-mail        0
Country                0
Gender                 0
Age                    0
Annual Salary          0
Credit Card Debt       0
Net Worth              0
Car Purchase Amount    0
dtype: int64

In [6]:
car['Country'].value_counts()
len(car['Country'].unique())

211

In [7]:
car.drop(['Customer Name','Customer e-mail','Country'],axis=1,inplace=True)

In [8]:
car.head(3)

,Gender,Age,Annual Salary,Credit Card Debt,Net Worth,Car Purchase Amount
0,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921

In [ ]:
sns.pairplot(car)

In [ ]:
x=car.drop("Car Purchase Amount",axis=1)
y=car['Car Purchase Amount']

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaled_x=scaler.fit_transform(x)
scaled_y=scaler.fit_transform(y.values.reshape(-1,1))

In [ ]:
scaled_x.shape,scaled_y.shape

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(scaled_x,scaled_y, test_size=0.2, random_state=42)

In [ ]:
from tensorflow import keras

In [ ]:
from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras.optimizers import Adam

In [ ]:
model=Sequential()

In [ ]:
model.add(Dense(25,input_dim=5,activation='relu'))
# model.add(Dropout(0.8))
model.add(Dense(25,activation='relu'))
# model.add(Dropout(0.8))
model.add(Dense(1,activation='linear'))

In [ ]:
model.compile(optimizer='Adam',loss='mean_squared_error')

In [ ]:
epoch=model.fit(x_train,y_train,epochs=50,batch_size=20,validation_split=0.2,verbose=1)

In [ ]:
print(epoch.history.keys())

In [ ]:
plt.plot(epoch.history['loss'])
plt.plot(epoch.history['val_loss'])
plt.title("loss comparison")
plt.xlabel("epoch")
plt.ylabel("loss")
plt.legend(['loss','validation_loss'])

In [ ]:
pred=model.predict(x_test, batch_size=20)

In [ ]:
pred[40]

In [ ]:
y_test[40]

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
mean_squared_error(y_test,pred)

In [ ]:
r2_score(y_test,pred)